/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "balanced"; };

&lt { flavor = "balanced"; };

/ {
    behaviors {
        J_Parenth: J_Parenth {
            compatible = "zmk,behavior-tap-dance";
            label = "J_PARENTH";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            tapping-term-ms = <185>;
        };

        M_Parenth: M_Parenth {
            compatible = "zmk,behavior-tap-dance";
            label = "M_PARENTH";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;

            tapping-term-ms = <185>;
        };

        K_Parenth: K_Parenth {
            compatible = "zmk,behavior-tap-dance";
            label = "K_PARENTH";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;

            tapping-term-ms = <185>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colmak {
            bindings = <
&none  &kp Q             &kp W  &kp F               &kp P               &kp B                   &kp J                      &kp L                &kp U      &kp Y    &kp SEMI   &none
&none  &mt LEFT_SHIFT A  &kp R  &mt LEFT_CONTROL S  &mt LEFT_COMMAND T  &mt LEFT_ALT G          &kp M                      &mt RIGHT_COMMAND N  &kp E      &kp I    &kp O      &none
&none  &kp Z             &kp X  &kp C               &kp D               &kp V                   &kp K                      &kp H                &kp COMMA  &kp DOT  &kp SLASH  &none
                                &kp LS(LA(SPACE))   &lt 2 ENTER         &mt LEFT_CONTROL TAB    &mt RIGHT_SHIFT BACKSPACE  &lt 3 SPACE          &to 1
            >;
        };

        qwerty {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q             &kp W  &kp E               &kp R               &kp T             &kp Y   &kp U                &kp I      &kp O    &kp P      &none
&none  &mt LEFT_SHIFT A  &kp S  &mt LEFT_CONTROL D  &mt LEFT_COMMAND F  &mt LEFT_ALT G    &kp H   &mt RIGHT_COMMAND J  &kp K      &kp L    &kp SEMI   &none
&none  &kp Z             &kp X  &kp C               &kp V               &kp B             &kp N   &kp M                &kp COMMA  &kp DOT  &kp SLASH  &none
                                &trans              &trans              &trans            &trans  &trans               &to 0
            >;
        };

        sym+numpad {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL            &kp AT            &kp POUND          &mt DLLR LEFT_BRACKET  &mt PRCNT RIGHT_BRACKET    &kp N7  &kp N8        &kp N9  &mt PLUS EQUAL  &mt UNDER MINUS  &none
&none  &kp CARET           &kp AMPERSAND     &kp ASTERISK       &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS      &kp N4  &kp N5        &kp N6  &kp ASTERISK    &kp SLASH        &none
&none  &mt PIPE BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE         &kp RIGHT_BRACE            &kp N1  &kp N2        &kp N3  &kp GRAVE       &kp CAPS         &none
                                             &trans             &trans                 &trans                     &trans  &kp NUMBER_0  &trans
            >;
        };

        sys {
            bindings = <
&trans  &kp ESCAPE   &kp C_VOLUME_DOWN  &kp K_MUTE  &kp C_VOLUME_UP  &trans    &none             &kp C_PREV            &kp C_PLAY_PAUSE  &kp C_NEXT       &trans                 &trans
&trans  &trans       &trans             &trans      &trans           &trans    &kp LEFT_ARROW    &kp DOWN_ARROW        &kp UP_ARROW      &kp RIGHT_ARROW  &mt DOUBLE_QUOTES SQT  &trans
&trans  &bootloader  &trans             &trans      &trans           &trans    &kp LA(LG(DOWN))  &kp LA(LG(UP_ARROW))  &trans            &trans           &bootloader            &trans
                                        &trans      &trans           &trans    &trans            &trans                &trans
            >;
        };
    };
};
